.footer {
  color: $color-grey-light-2;
  background-color: $color-grey-dark-3;
  padding: 10rem 0;
  font-size: 1.4rem;

  @include respond(tab-port) {
    padding: 8rem 0;
  }

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;

    @include respond(tab-port) {
      margin-bottom: 6rem;
    }
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__navigation {
    border-top: 0.1rem solid $color-grey-dark;
    padding-top: 2rem;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      text-align: center;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    perspective: 20rem;
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:any-link {
      color: $color-grey-light-1;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      position: relative;
      perspective: 2rem;
      transition: all 0.3s ease-in-out;
    }

    &:hover,
    &:active {
      color: $color-primary;
      transform: scale(1.05) translate(0, -0.4rem) rotateX(7deg);
      text-shadow: 0.3rem 1rem 0.5rem rgba($color-black, 0.3);
    }
  }

  &__copyright {
    color: $color-grey-dark;
    border-top: 0.1rem solid $color-grey-dark-2;
    padding-top: 2rem;
    width: 83%;
    float: right;

    @include respond(tab-port) {
      width: 100%;
      float: none;
    }
  }
}
