.row {
  max-width: $grid-row-width;
  background-color: #eee;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gap-vertical;
  }

  @include clearfix;

  [class^='col-'] {
    background-color: red;
    color: white;
    float: left;

    &:not(:last-child) {
      margin-right: $gap-horizontal;
    }
  }

  .col-1-2 {
    width: calc((100% - #{$gap-horizontal}) / 2);
  }

  .col-1-3 {
    width: calc((100% - 2 * #{$gap-horizontal}) / 3);
  }

  .col-2-3 {
    width: calc(2 * ((100% - 2 * #{$gap-horizontal}) / 3) + #{$gap-horizontal});
  }

  .col-1-4 {
    width: calc((100% - 3 * #{$gap-horizontal}) / 4);
  }

  .col-2-4 {
    width: calc(2 * ((100% - 3 * #{$gap-horizontal}) / 4) + #{$gap-horizontal});
  }

  .col-3-4 {
    width: calc(
      3 * ((100% - 3 * #{$gap-horizontal}) / 4) + 2 * #{$gap-horizontal}
    );
  }
}
