.feature-box {
  background-color: rgba($color-white, 0.7);
  border-radius: $default-border-radius;
  box-shadow: $default-box-shadow;
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  transition: all 0.3s;

  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    color: transparent;
    display: inline-block;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
    background-color: rgba($color-white, 0.8);
    box-shadow: 0 2rem 5rem rgba($color-black, 0.15);
  }
}
