.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;

  &__content {
    @include center-block;
    width: 75%;
    background-color: $color-white;
    box-shadow: $default-box-shadow;
    border-radius: $default-border-radius;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.3);
    transition: all 0.3s 0.2s ease-in-out;

    @include respond(tab-port) {
      display: flex;
      flex-direction: column;
      width: 90%;
      height: 90%;
    }
  }

  &__left {
    width: 33.333333%;
    display: table-cell;
    vertical-align: middle;

    @include respond(tab-port) {
      width: 100%;
      display: flex;
    }
  }

  &__right {
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond(tab-port) {
      width: 100%;
      display: block;
    }
  }

  &__img {
    display: block;
    width: 100%;

    @include respond(tab-port) {
      width: 50%;
      display: block;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;
    hyphens: auto;

    @include respond(phone) {
      column-count: 1;
    }
  }

  //  Open states
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:any-link {
      color: $color-grey-dark;
      position: absolute;
      top: 1.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      line-height: 1;
    }
    &:hover {
      color: $color-primary;
    }
  }
}
