body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
}

.heading-primary {
  position: relative;
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 5rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    margin-left: 1.3rem;
    animation: moveInLeft 2000ms ease-out backwards;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    margin-right: 0.3rem;
    animation: moveInRight 1500ms 500ms ease-out backwards;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  color: transparent;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  background-position: top;
  background-size: cover;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.1) translate(-4rem, -2rem) rotateX(5deg) rotateZ(-2deg)
      rotateY(-3deg);
    text-shadow: 2rem 2rem 0.7rem rgba($color-black, 0.2);
  }
}
